.profile-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-image-container {
    position: relative;
    display: inline-block;
  }
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 20px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.heart-icon {
  position: absolute;
  bottom: -10px; /* Ajusta este valor según lo necesites */
  right: 10px;  /* Ajusta este valor según lo necesites */
  width: 30px;   /* Ajusta el tamaño del corazón según lo necesites */
  height: 30px;
  cursor: pointer;
}
.heart{
  padding: 0.30rem;
}
  
  .profile-info {
    flex: 1;
  }

  .profile-name{
    font-size: 1.3rem;
  }

  .profile-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .profile-location {
    font-size: 14px;
    color: #777;
  }
  .profile-info-stats{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;

  }
  .stat-container{
    margin: 0 6px;
    font-size: 0.9rem;
  }
  .stat-name{
    font-weight: 700;
  }
  .stat-indicator{
    text-align: center;
  }
  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
  }
  
  .item-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-image {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .item-title {
    margin-top: 2px;
    font-size: 19px;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  .item-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .item-price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
  }
  